.tox-toolbar__overflow {
  background: white !important;
}

@page {
  margin: 0px auto;
}
@media print {
  footer {
    display: none;
    position: fixed;
    bottom: 0;
  }
  header {
    display: none;
    position: fixed;
    top: 0;
  }
}
